name: Plugin asset/readme update
on:
  push:
    branches:
      - main
    paths:
      - '.wordpress-org/**'
      - 'readme.txt'
jobs:
  stable:
    name: Push to stable
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: WordPress.org plugin asset/readme update
      uses: 10up/action-wordpress-plugin-asset-update@stable
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
        SLUG: hizzle-downloads
        IGNORE_OTHER_FILES: true
